<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <title>fsociety00.dat</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="stylesheet.css" />
    </head>
    <body>
    <div class="text-center container">
        <img src="logo.jpg" alt="fsociety" />
        <h1 th:text="'>>> Hello ' + ${name}"></h1>
    </div>
    </body>
</html>
